.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 20px 5px 20px 5px;  
}
.product-image{
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.addToCartBtn{
    background-color: rgb(233, 190, 83);
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}